@model CreateOrderViewModel


<head>
    <link rel="stylesheet" href="~/css/main_admin_style.css" />
    <link rel="stylesheet" href="~/css/admin_display_products_style.css" />
    <link rel="stylesheet" href="~/css/order_panel_style.css" />
</head>

@{
    //Change style for link with this ID
    AdminNavViewModel m = new AdminNavViewModel();
    m.LinkId = 11;
}

<section class="admin_site">
    <div class="admin_site_container">

        <partial name="_AdminNavigationPartial" model="m" />

        <div class="table_page">
            <div class="table_page_container">
                <form enctype="multipart/form-data" asp-controller="Order" asp-action="MakeOrder" method="post">
                    <input hidden asp-for="SupplierName" />
                    <input hidden asp-for="SupplierId" />


                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Product Name</th>
                                <th scope="col">Quantity</th>
                            </tr>
                        </thead>

                        <tbody>
                            @for (int i = 0; i < Model.OrderItems.Count; i++)
                            {
                                <tr>
                                    <td>@Model.OrderItems[i].ProductId</td>
                                    <td>@Model.OrderItems[i].ProductName</td>
                                    <td>
                                        <input min="0" asp-for="@Model.OrderItems[i].Ammount" />
                                        <!--Hidden values-->
                                        <input hidden asp-for="@Model.OrderItems[i].ProductName" /> 
                                        <input hidden asp-for="@Model.OrderItems[i].ProductId" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <div class="button_container">
                        <button type="submit">Place Order</button>
                    </div>

                </form>
            </div>
        </div>

    </div>
</section>
