@model IEnumerable<UserModel>

<head>
    <link rel="stylesheet" href="~/css/main_admin_style.css" />
    <link rel="stylesheet" href="~/css/admin_display_products_style.css" />
</head>

@{
    //Change style for link with this ID
    AdminNavViewModel m = new AdminNavViewModel();
    m.LinkId = 4;
}

<section class="admin_site">
    <div class="admin_site_container">

        <partial name="_AdminNavigationPartial" model="m"/>

        <div class="admin_content_page">
            <div class="table_page">
                <div class="table_page_container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Joined</th>
                                <th scope="col">City</th>
                                <th scope="col">Orders</th>
                                <th scope="col">Spent Money</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var u in Model)
                            {
                                <tr>
                                    <td>@u.FirstName @u.LastName</td>
                                    <td>@u.Email</td>
                                    <td>@u.TimeRegistred.Day/@u.TimeRegistred.Month/@u.TimeRegistred.Year</td>
                                    <td>@u.City</td>
                                    <td>@u.OrdersAmmount</td>
                                    <td>@u.MoneySpent£</td>
                                    <td>
                                        <a asp-controller="Product" asp-action="EditProduct" asp-route-id="@u.Id">Manage</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</section>



