@model List<UserRoleViewModel>

<head>
    <link rel="stylesheet" href="~/css/main_admin_style.css" />
    <link href="~/css/users_in_role_style.css" rel="stylesheet" />
</head>

@{
    ViewBag.Title = "Edit role";
    //Change style for link with this ID
    AdminNavViewModel m = new AdminNavViewModel();
    m.LinkId = 19;
    var roleId = ViewBag.RoleId;
}


<section class="admin_site">
    <div class="admin_site_container">

        <partial name="_AdminNavigationPartial" model="m" />

        <div class="admin_content_page">
            <div class="admin_main_panel">

                <section class="users_in_role">
                    <div class="users_in_role_container">
                        <div class="title">
                            <h1>Add or remove users from this role</h1>
                        </div>

                        <form method="post">
                            <div>
                                <div>
                                    @for (int i = 0; i < Model.Count; i++)
                                    {
                                        <div class="form-check m-1">
                                            <input type="hidden" asp-for="@Model[i].UserId" />
                                            <input type="hidden" asp-for="@Model[i].UserName" />
                                            <input asp-for="@Model[i].IsSelected" class="form-check-input" />
                                            <label class="form-check-label" asp-for="@Model[i].IsSelected">
                                                @Model[i].UserName
                                            </label>
                                        </div>
                                    }
                                </div>
                                <div class="button_box">
                                    <button type="submit">Update</button>
                                    <a asp-action="EditRole" asp-route-id="@roleId">Cancel</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>