@model DisplayProductsViewModel

<head>
    <link rel="stylesheet" href="~/css/display_products_style.css" />
</head>

<section class="products">
    <div class="products_container">

        <div class="title">
            <div class="left_tile">

            </div>
            <div class="right_title">
                <h1>All Products</h1>
            </div>
        </div>

        <div class="products_display">
            <div class="products_menu">
                <div class="toggle_product_nav">
                    <button id="toggle_nav_products_btn">Categories</button>
                </div>
                <ul id="nav_products" class="display_none">
                    <li>
                        <a asp-action="DisplayProducts" asp-controller="Product" asp-route-id="1"><i class="fas fa-layer-group"></i> All Products</a>
                    </li>
                    <li>
                        <a asp-action="DisplayProducts" asp-controller="Product" asp-route-id="2"><i class="fas fa-carrot"></i> Vegetables</a>
                    </li>
                    <li>
                        <a asp-action="DisplayProducts" asp-controller="Product" asp-route-id="3"><i class="fas fa-apple-alt"></i> Fruits</a>
                    </li>
                    <li>
                        <a asp-action="DisplayProducts" asp-controller="Product" asp-route-id="4"><i class="fas fa-drumstick-bite"></i> Meats</a>
                    </li>
                    <li>
                        <a asp-action="DisplayProducts" asp-controller="Product" asp-route-id="5"><i class="fas fa-fish"></i> Fish</a>
                    </li>
                    <li>
                        <a asp-action="DisplayProducts" asp-controller="Product" asp-route-id="6"><i class="fas fa-wine-bottle"></i> Drinks</a>
                    </li>
                    <li>
                        <a asp-action="DisplayProducts" asp-controller="Product" asp-route-id="7"><i class="fas fa-blender"></i> Creams</a>
                    </li>
                    <li>
                        <a asp-action="DisplayProducts" asp-controller="Product" asp-route-id="8"><i class="fab fa-nutritionix"></i> Dates, Nuts</a>
                    </li>
                    <li>
                        <a asp-action="DisplayProducts" asp-controller="Product" asp-route-id="9"><i class="fas fa-bread-slice"></i> Bakeary</a>
                    </li>
                    <li>
                        <a asp-action="DisplayProducts" asp-controller="Product" asp-route-id="10"><i class="fas fa-baby"></i> Baby</a>
                    </li>
                    <li>
                        <a asp-action="DisplayProducts" asp-controller="Product" asp-route-id="11"><i class="fas fa-boxes"></i> Other</a>
                    </li>
                </ul>
            </div>
            
            <div class="products_list">

                <div class="left_button">

                    @if (Model.ShowPrevious == true)
                    {
                        <div class="left_button_container">
                            <p>&lt;</p>
                        </div>
                    }


                </div>
                <div class="l_container">
                    <div class="products_list_container">
                        @foreach (var p in Model.Products)
                        {
                            <!--If product is out of stock do not display it-->
                            @if (p.Quantity != 0)
                            {
                                <div class="product">
                                    <div class="product_container">

                                        <form enctype="multipart/form-data" asp-controller="Cart" asp-action="AddToShoppingCartDisplayProducts" method="post">

                                            <div class="img_container">
                                                <img src="~/images/@p.ImgPath" alt="@p.Name" />
                                            </div>

                                            <div class="name">
                                                <h3>@p.Name (@p.Price£)</h3>
                                            </div>

                                            <div class="add_to_chart">
                                                <div class="input">
                                                    <label>Quantity</label>
                                                    <input asp-for="Quantity" min="1" /><input hidden asp-for="Id" value="@p.Id" />
                                                </div>

                                                <div class="add_button">
                                                    <button type="submit"><i class="fas fa-cart-plus"></i></button>
                                                </div>
                                            </div>

                                        </form>
                                        <div class="details">
                                            <a asp-controller="Product" asp-action="ProductDetails" asp-route-id="@p.Id">Details</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>

                <div class="right_button">
                    @if (Model.ShowNext == true)
                    {
                        <div class="left_button_container">
                            <p>&gt;</p>
                        </div>
                    }
                </div>

            </div>
        </div>

    </div>
</section>

<script src="~/js/products_nav_toggler_script.js"></script>