@model EditProductViewModel

<head>
    <link rel="stylesheet" href="~/css/main_admin_style.css" />
    <link rel="stylesheet" href="~/css/create_product_style.css" />
    <title>@Model.Title</title>
</head>

@{
    Types typeList = new Types();

    //Change style for link with this ID
    AdminNavViewModel m = new AdminNavViewModel();
    m.LinkId = 3;
}

<section class="admin_site">
    <div class="admin_site_container">

        <partial name="_AdminNavigationPartial" model="m" />

        <div class="admin_content_page">
            <section class="create_product_page">
                <div class="create_product_page_container">

                    <div class="title">
                        <h1>@Model.Title</h1>
                    </div>

                    <form enctype="multipart/form-data" asp-controller="Product" asp-action="EditProduct" method="post">
                        <input hidden asp-for="Id" />
                        <input hidden asp-for="PhotoPath" />

                        <div class="form_box">
                            <label asp-for="Name"></label>
                            <input asp-for="Name" />
                            <span class="text-danger" asp-validation-for="Name"></span>
                        </div>

                        <div class="form_box_textarea">
                            <label asp-for="Description"></label>
                            <textarea asp-for="Description"></textarea>
                            <span class="text-danger" asp-validation-for="Description"></span>
                        </div>

                        <div class="two_boxes">
                            <div class="form_box">
                                <label asp-for="Quantity"></label>
                                <input asp-for="Quantity" />
                                <span class="text-danger" asp-validation-for="Quantity"></span>
                            </div>

                            <div class="form_box">
                                <label asp-for="Price"></label>
                                <input asp-for="Price" />
                                <span class="text-danger" asp-validation-for="Price"></span>
                            </div>
                        </div>

                        <div class="form_box_radio">
                            <label class="label">Select type of product</label>
                            @foreach (var item in typeList.TypesList)
                            {
                                @if (item == Model.Type)
                                {
                                    <p><input checked asp-for="Type" type="radio" value="@item" /> @item</p>
                                }
                                else
                                {
                                    <p><input asp-for="Type" type="radio" value="@item" /> @item</p>
                                }
                            }
                        </div>

                        <div class="form_box">
                            <label asp-for="Photo"></label>
                            <div class="custom-file">
                                <input asp-for="Photo" class="custom-file-input">
                                <label class="custom-file-label">Choose File...</label>
                            </div>
                        </div>

                        <div class="button_box">
                            <button asp-action="DisplayProducts" asp-controller="Product" class="btn btn-success">Cancel</button>
                        </div>

                        <div class="button_box">
                            <button class="btn btn-success" type="submit">Edit</button>
                        </div>

                        <div class="button_box">
                            <button asp-action="DeleteProduct" asp-controller="Product" class="btn btn-success">Delete Product</button>
                        </div>



                        <div asp-validation-summary="All" class="text-danger"></div>

                        @section Scripts {
                            <script>
                                $(document).ready(function () {
                                    $('.custom-file-input').on("change", function () {
                                        var fileName = $(this).val().split("\\").pop();
                                        $(this).next('.custom-file-label').html(fileName);
                                    });
                                });
                            </script>
                        }

                    </form>

                </div>
            </section>
        </div>

    </div>
</section>