@model IEnumerable<ProductModel>

<head>
    <link rel="stylesheet" href="~/css/main_admin_style.css" />
    <link rel="stylesheet" href="~/css/admin_display_products_style.css" />
</head>

@{
    //Change style for link with this ID
    AdminNavViewModel m = new AdminNavViewModel();
    m.LinkId = 3;
}

<section class="admin_site">
    <div class="admin_site_container">

        <partial name="_AdminNavigationPartial" model="m"/>

        <div class="admin_content_page">
            <div class="table_page">
                <div class="table_page_container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Name</th>
                                <th scope="col">Supplier</th>
                                <th scope="col">Type</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var p in Model)
                            {
                                @if (p.Quantity <= 10 && p.Quantity > 0)
                                {
                                    <tr class="low_stock">
                                        <td>@p.Id</td>
                                        <td>@p.Name</td>
                                        <td>@p.SupplierName</td>
                                        <td>@p.Type</td>
                                        <td>£@p.Price</td>
                                        <td>@p.Quantity</td>
                                        <td class="white_btn">
                                            <a asp-controller="Product" asp-action="EditProduct" asp-route-id="@p.Id">Edit</a>
                                        </td>
                                    </tr>
                                }
                                else if (p.Quantity <= 0)
                                {
                                    <tr class="out_of_stock">
                                        <td>@p.Id</td>
                                        <td>@p.Name</td>
                                        <td>@p.SupplierName</td>
                                        <td>@p.Type</td>
                                        <td>£@p.Price</td>
                                        <td>@p.Quantity</td>
                                        <td class="white_btn">
                                            <a asp-controller="Product" asp-action="EditProduct" asp-route-id="@p.Id">Edit</a>
                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td>@p.Id</td>
                                        <td>@p.Name</td>
                                        <td>@p.SupplierName</td>
                                        <td>@p.Type</td>
                                        <td>£@p.Price</td>
                                        <td>@p.Quantity</td>
                                        <td>
                                            <a asp-controller="Product" asp-action="EditProduct" asp-route-id="@p.Id">Edit</a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>