@model CartViewModel

<head>
    <link rel="stylesheet" href="~/css/cart_display_style.css" />
</head>

<section class="cart">
    <div class="cart_container">
        <div class="title">
            <h1>Your Cart</h1>
        </div>

        <div class="table_container">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Selected amount</th>
                        <th>Price</th>
                        <th>Subtotal</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var line in Model.ShoppingCart.ShoppingCartItems)
                    {
                        <tr>
                            <td>@line.Product.Name @line.Product.Id</td>
                            <td>@line.Ammount</td>
                            <td>@line.Product.Price.ToString("c")</td>
                            <td>
                                @((line.Ammount * line.Product.Price).ToString("c"))
                            </td>
                            <td><a asp-controller="Cart" asp-action="RemoveFromShoppingCart" asp-route-Id="@line.Product.Id">Remove</a></td>
                            <td><a asp-controller="Cart" asp-action="RemoveAllOfItem" asp-route-Id="@line.Product.Id">Remove All</a></td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3" class="text-right">Total:</td>
                        <td class="text-right">
                            @Model.ShoppingCartTotal.ToString("c")
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        @Model.ShoppingCart.ShoppingCartId
        <div class="button_container">
            <a asp-controller="UserOrder" asp-action="Checkout" asp-route-Id="@Model.ShoppingCart.ShoppingCartId">Check out</a>
        </div>

        <div class="button_container">
            <a asp-controller="Cart" asp-action="ClearChart">Clear Chart</a>
        </div>

    </div>
</section>
